body {
  background-color: gray;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#panel {
  display: none;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #333;
}

#panel button {
  margin: 5px;
  padding: 10px 20px;
}

#mainMenuBtn {
  margin-right: 10px;
  padding: 10px 20px;
  position: fixed;
  left: 12px;
  top: 12px;
  z-index: 1100; /* above overlay */
  background: #2ecc71;
  color: white;
  border-radius: 6px;
}

#settingsBtn {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 1100;
    margin: 0;
    padding: 10px 20px;
    background: #2ecc71;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

#message {
    background : goldenrod;
    color: white;
    border-radius: 5px;
    max-width: 300px;      /* keeps it from going across the whole screen */
    margin: 20px auto;     /* centers it */
    text-align: center;    /* centers text inside */

}
